body {
    background-color: black;
    color: azure;
}

img {
    max-width: 100%;
}
.container {
    display: block;
    align-items: center;
    justify-content: space-between;
}

header {
    color: azure;
    background-color: rgb(197, 0, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.ultimo-ep {
    border-radius: 5px;
    margin-top: 48px;
    width: 100%;
    color: azure;
    background-color: rgb(197, 0, 197);
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    display: flex;
}

.assistir {
    color: azure;
    align-items: center;
    justify-content: center;
    display: flex;
        
}
.card-body {
    border-top-left-radius: 2px;
}

button {
    border-top: 4px;
    border-left: 4px;
    border-color: azure;
    border-radius: 5px;
    font-size: 28px;
    margin-top: 24px;
    background-color: rgb(197, 0, 197);
    color: azure;
    margin-bottom: 28px;
}

.row h3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(197, 0, 197);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 28px;
}

.row h4 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    background-color: rgb(197, 0, 197);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 28px;
}

.assistir button:hover {
    border-color: rgb(197, 0, 197);
    color:  rgb(197, 0, 197);
    background-color: azure;
}

.assistir a {
    text-decoration: none;
    color: azure;
}

.assistir a:hover {
    color:  rgb(197, 0, 197);
}

footer {
    background-color: rgb(197, 0, 197);
    color: azure;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

}

@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .col-4 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-4 {
        width: 50%;
        margin-bottom: 20px;
    }
}